venv/
model/
models/
valueeval24/
valueeval24.zip
checkpoints/
output/
results/Test.txt
train.sh
tokens.txt
notes.md
*.log
main_*.py
*__pycache__*
output/*/*-cache.json
*.bak
output/*/output/*/qlora_output/